/* HeroesComponent's private CSS styles */

#main-container {
  display: flex;
  justify-content: space-between;
}

.my-item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    #efefbb,
    #d4d3dd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my-row {
  margin-top: 40px;
}

.my-list {
  margin-top: 20px;
}

.small-img-field {
  width: 45px;
  height: 45px;
  border-radius: 23px;
}
