<div *ngIf="contact" class="contact-box">
  <img
    class="img-field"
    src="https://ui-avatars.com/api/?name={{ contact['First Name'] }}"
  />

  <div class="name-field">
    <label
      >Name:
      <input [(ngModel)]="contact['First Name']" placeholder="name" />
    </label>
  </div>
  <div class="phone-field">
    <label
      >Phone:
      <input [(ngModel)]="contact['Home Phone']" placeholder="phone" />
    </label>
  </div>
  <div class="email-field">
    <label
      >Email:
      <input [(ngModel)]="contact['E-mail Address']" placeholder="email" />
    </label>
  </div>
</div>
